.page
{
/* width: 100%; */
 
/* border-style:groove; */
background-color: bisque;

}
.linkspart
{
    width:600px;
    height:25px;
    float: right;
}
.linkspart a
{
color:black;
text-decoration: none;
}
.linkspart a:hover
{
    color: green;
}
.bodypart
{
/* width:1300px;
height:300px;  */
/* border-style:none; */
/* float:center; */
}
.bodypart .imagepart
{
/* width:1300px;
height:300px;  */
border-style:none;
background-image: url('pizza1.jpg');
background-repeat: no-repeat;
}
.bodypart .newspart h2
{
color: black;
/* margin-left: 20px; */
}
.bodypart .newspart
{
    width: 650px;
    height: 200px;
    margin-left: 105px;
    border-style: groove;
    background-color: white;
    display: inline-block;
}
.bodypart .part h2
{
    color:white;
    margin-left: 20px;

}
.bodypart .part
{
    width: 500px;
    height: 150px;
    border-style: groove;
    background-color:red; 
    color: white;
    float:right;
    margin-right: 105px;

}
/*a{
    margin: 50px;
    /* padding: 10px; */
    /* background-color: springgreen; */

img{

}